.pp-snackbar {
  position: fixed;
  z-index: 100;
  padding: 10px 20px;
  bottom: 15px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;

  p {
    margin-left: 5px;
  }

  @include center(true, false);
}
