.review-review {
  &-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 5px;
    margin: 20px;
    background-color: white;
  }

  &-toggle {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-btn {
    @include center(true, false);

    bottom: 30px;
  }
}
