.register {
  min-width: 260px;

  &-username {
    input {
      text-transform: lowercase;
    }
  }

  &-btn {
    width: 100%;
  }

  &-message {
    text-align: center;
    margin-bottom: 30px;

    p {
      margin-top: 5px;
      font-size: 12px;
    }

    a {
      color: map-get($pp-colours, "primary");
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-password-hint {
    margin-left: 5px;
    margin-top: 2px;
    font-size: 9px;
  }
}
