.pp-review-skeleton {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  border-bottom: 3px solid map-get($pp-colours, "grey");
  animation: loading 4s infinite;

  &-img,
  &-title,
  &-desc,
  &-genres,
  &-score {
    background: map-get($pp-colours, "grey-lighten-3");
  }

  &-img {
    height: 150px;
    width: 100px;
    border-radius: 10px;
  }

  &-container {
    width: 80%;
    margin-top: 2px;
    margin-left: 10px;
  }

  &-title {
    height: 25px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  &-desc {
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &-genres,
  &-score {
    height: 15px;
    width: 30px;
    border-radius: 2px;
  }
}
