.pp-button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;

  &-disabled {
    opacity: 0.7;
    cursor: not-allowed !important;
  }

  &:hover {
    opacity: 0.7;
  }

  .pp-loading-icon {
    margin-left: 5px;
  }

  @include sm-up {
    font-size: 14px;
  }
}
