.pp-date-chip {
  background-color: map-get($pp-colours, "grey-lighten-3");
  width: max-content;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: calc(var(--fontSize) * 1px);
  color: map-get($pp-colours, "grey-darken-2");
}
