.pp-content {
  &-container {
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    padding: 10px;
    margin: 20px;
    background: white;
    border-radius: 5px;
  }

  &-poster {
    height: 150px;
    margin-right: 15px;
    border-radius: 5px;
  }

  &-title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
    max-width: 200px;
  }

  &-description {
    font-size: 10px;
  }

  &-chips {
    margin-top: 10px;
  }

  &-info {
    position: relative;
  }

  &-bottom {
    display: flex;
    margin-top: auto;
  }

  &-year {
    font-weight: 500;
    font-size: 10px;
    margin-left: auto;
    color: map-get($pp-colours, "primary");
    position: absolute;
    bottom: 0;
    right: 0;
  }

  @include sm-up {
    &-container {
      margin: 20px 10px;
    }

    &-poster {
      height: 200px;
    }

    &-title {
      font-size: 18px;
    }

    &-description {
      font-size: 12px;
    }

    &-year {
      font-size: 12px;
    }
  }
}
