.film {
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: map-get($pp-colours, "grey-darken-2");
    font-weight: 600;
    font-size: 20px;
  }

  &-select {
    margin: 40px;
  }

  &-review {
    h2 {
      margin: 20px 0;
    }

    &-toggle {
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-content {
      padding: 30px 20px;
      margin: 0 20px;
      background-color: white;
      display: flex;
      flex-direction: column;
      gap: 15px;
      border-radius: 5px;
    }

    &-btn {
      @include center(true, false);

      bottom: 20px;
    }
  }
}
