.pp-profile {
  &-user {
    margin: 20px auto;
    text-align: center;
    max-width: 180px;
    padding-bottom: 15px;
    border-bottom: 1px solid map-get($pp-colours, "grey-lighten-1");

    &-at {
      font-size: 10px;
    }

    p {
      font-size: 12px;
    }

    &-skeleton {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      animation: loading 4s infinite;
      margin-bottom: 10px;

      &-img,
      &-name,
      &-username {
        background-color: map-get($pp-colours, "grey-lighten-1");
      }

      &-img {
        height: 60px;
        width: 60px;
        border-radius: 100%;
        margin-bottom: 10px;
      }

      &-name,
      &-username {
        height: 10px;
        width: 120px;
        margin-bottom: 5px;
        border-radius: 3px;
      }

      &-username {
        width: 100px;
        margin: 0 auto;
      }
    }
  }
}
