* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(31, 31, 31);
}

#root {
  // Set to size of an iPhone 12 Pro
  max-width: 390px;
  max-height: 844px;
  margin: 0 auto;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body,
button {
  font-family: "Montserrat", sans-serif;
}

.pp-hover {
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

.pp-button-reset {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  outline: none;

  @extend .pp-hover;
}

@each $prop, $abbrev in (color: pp-text-colour-, background-color: pp-bg-) {
  @each $name, $colour in $pp-colours {
    .#{$abbrev}#{$name} {
      #{$prop}: #{$colour} !important;
    }
  }
}

@each $name, $colour in $pp-colours {
  .pp-icon {
    &--#{$name} {
      path {
        fill: #{$colour};
      }
    }

    &-stroke-#{$name} {
      path,
      circle {
        stroke: #{$colour};
      }
    }
  }
}
