.pp-text-input {
  height: 45px;
  display: grid;
  grid-template-columns: 1fr 30px;
  align-items: center;

  &-content {
    height: 100%;
  }

  .pp-icon {
    position: relative;
    z-index: 4;
  }

  label {
    top: 10px;
  }

  input {
    bottom: 8px !important;
  }
}
