.auth {
  padding: 20px;
  background-color: white;
  border-radius: 5px;

  &-username {
    input {
      text-transform: lowercase;
    }
  }

  &-msg {
    p {
      margin-top: 30px;
      text-align: center;
      font-size: 12px;
    }

    a {
      color: map-get($pp-colours, "primary");
      font-weight: 500;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &-btn {
    width: 100%;
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-password-hint {
    margin-left: 5px;
    margin-top: 2px;
    font-size: 9px;
  }

  @include sm-up {
    min-width: 360px;
    padding: 50px;

    h2 {
      font-size: 40px;
    }

    &-password-hint {
      margin-top: 4px;
      font-size: 12px;
    }

    &-msg {
      p {
        font-size: 14px;
      }
    }
  }
}
